
.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
}

.header-wrap {
  height: 36px;
  padding: 22px 0;
}

.header-nav a {
  margin-right: 46px;
  line-height: 36px;
  font-size: 16px;
  color: #c8c8c8;
}

.header-nav a:hover {
  color: #fff;
  text-decoration: none;
}

.pull-list {
  position: relative;
}

.pull-list-item {
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  top: 58px;
  left: -30px;
  max-height: 0;
  width: 124px;
  line-height: 44px;
  text-align: center;
  background-color: rgba(0, 0, 0,.3);
  transition: .3s;
  border-radius: 4px; 
}

.pull-list-item a {
  margin: 0;
  color: #fff;
}

.pull-list-item a:hover {
  color: #ff7200;
}

.pull-list:hover .pull-list-item {
  max-height: 500px;
  visibility: visible;
}

.pull-list:hover .icon-down::after {
  transform: rotateX(180deg);
}
